.dropzone {
  position: relative;
}

.dropzone__popover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
  opacity: 0;
  transition: all 0.25s ease;
  z-index: 1;
  color: white;

  display: grid;
  grid-template-areas: "info"
  "buttons";
  place-items: center;
  transform: translate3d(0, 0, 0);
  border-radius: 10px;

  padding: 12%;
}

.dropzone--hover .dropzone__popover {
  opacity: 1;
  transition: all 0.25s ease;
  -webkit-backdrop-filter: blur(8px) grayscale(35%) contrast(35%);
}

.dropzone__popover--active {
  pointer-events: all;
}

.dropzone__info {
  grid-area: info;
  align-self: end;
}

.dropzone__buttons {
  width: 100%;
  display: flex;
  grid-area: buttons;
  justify-content: space-between;
}

/* CSS */
.dropzone__button {
  appearance: none;
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

.dropzone__button:hover {
  background-color: #F3F4F6;
  text-decoration: none;
  transition-duration: 0.1s;
}

.dropzone__button:disabled {
  background-color: #FAFBFC;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
}

.dropzone__button:active:not(:disabled) {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.dropzone__button:focus {
  outline: 1px transparent;
}
